

body{
    margin:auto;
    font-family:"Inter";
    
}


.person{
    max-width:85%;
    min-width:200px;
    position:sticky;
   
    
}

.profile{
    margin:2rem;
    background-image:url("images/pattern-bg.svg");
    background-size:100%;
    /*background-size:25rem;*/
    background-repeat: no-repeat;
    padding:2rem 1rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    position:relative;
}

button{
    position:absolute;
    top:85%;
    width:6rem;
    border-radius:1.5rem;
    height:2.8rem;
    padding:0.6rem 1rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#fff;
    border:none;
    box-shadow:0 3px 3px 0 #eee;
}

.advice{
    background-image:url("images/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-position:50% 0;
    font-size:25px;
    text-align: center ;
    padding:2rem;
    font-weight:300;
    color:hsl(240, 38%, 20%);
}

p{
    text-align:center;
}

.who{
    margin-top:-2rem;
}

.name{
    color: hsl(240, 38%, 20%);
    font-weight:700;
}

.job{
    color:hsl(240, 18%, 77%);
}