
body{
    font-family:"Inter";
    background-image:url("images/pattern-curve.svg");
    background-position: 30% 110%;
    background-repeat: no-repeat;
}
.person{
    max-width:85%;
    min-width:200px;
    position:sticky;
    border-radius:0.5rem;
    
}

.profile{
    margin:2rem;
    background-image:url("images/pattern-bg.svg");
    background-size:100%;
    /*background-size:25rem;*/
    background-position:50% 50%;
    background-repeat: no-repeat;
    padding:2rem 1rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    position:relative;
}

button{
    position:absolute;
    top:85%;
    width:6rem;
    border-radius:1.5rem;
    height:2.8rem;
    padding:0.6rem 1rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#fff;
    border:none;
    box-shadow:0 3px 3px 0 #eee;
}

.advice{
    background-image:url("images/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-position:50% 0;
    font-size:25px;
    text-align: center ;
    padding:2rem;
    font-weight:300;
    color:hsl(240, 38%, 20%);
}

.testimonial{
    text-align:center;
}


.who{
    margin-top:-2rem;
    margin-bottom:5rem;
}

.name{
    color: hsl(240, 38%, 20%);
    font-weight:700;
}

.job{
    color:hsl(240, 18%, 77%);
    margin-bottom:2rem;
}

@media screen and (min-width: 600px){

    html, body, main{
        height:100vh;
        max-width:1440px;
    }

    body{
        
        font-family:"Inter";
        background-image:url("images/pattern-curve.svg"), url("images/pattern-bg.svg");
       
        background-repeat:no-repeat;
        background-position:left bottom, right ;
    }
    
    .profile{
        width:600px;
        background-image:none;
    }

    .person{
        width: 540px;
        border-radius:0.5rem;
        position:sticky;
    }
    main{
        display:flex;
       
        flex-direction:row-reverse;
        justify-content:end;
        align-items:center;
        font-size:32px;
        padding-left:5rem;
        
    }

    .advice{
        width:650px;
        line-height:2.8rem;
        font-size:inherit;
        text-align:left;
    }

    .testimonial{
        position:absolute;
        margin-left:2rem;
        left:10rem;
        top:10rem;
        text-align:center;
    }

    p{
        text-align:left;
    }

    .who{
        margin-top: 2rem;
        display:flex;
        gap:0.5rem;
        padding-left:2rem;
    }

    .name, .job{
        font-size:25px;
    }
    
}

