html,body{
    height:100vh;
    font-family:"Space Mono";
    color: hsl(186, 14%, 43%);
}

*{
    box-sizing:border-box;
}

body{
    background-color:hsl(185, 41%, 84%);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:4rem;
}


.bill{
    
    width:24rem;
    padding: 0.5rem 1rem;
    background-color:hsl(189, 41%, 97%);
    border:none;
    background-image:url("images/icon-dollar.svg");
    background-repeat:no-repeat;
    background-position:1rem;
    margin-top:-0.5rem;
    text-align:right;
    font-size:24px;
    font-weight:700;
    color:hsl(183, 100%, 15%);
    color:hsl(184, 14%, 56%);
    font-family:"Space Mono";
}

.bill:focus{
    outline: 2px solid hsl(172, 67%, 45%);
    border-radius:0.2rem;
    cursor:pointer;
}

.people{
    padding-left:1rem;
    width:24rem;
    padding:0.5rem 1rem;
    background-color:hsl(189, 41%, 97%);
    border:none;
    background-image:url("images/icon-person.svg");
    background-repeat:no-repeat;
    background-position:1rem;
    margin-top:-0.5rem;
    font-size:24px;
    font-weight:700;
    text-align:right;
    color:hsl(184, 14%, 56%);
    font-family:"Space Mono";
}

.people:focus{
    outline: 2px solid hsl(172, 67%, 45%);
    border-radius:0.2rem;
    cursor:pointer;
}

.active{
    background-color:hsl(172, 67%, 45%);
    color:hsl(183, 100%, 15%);
}




.container{
    display:flex;
    background-color:hsl(0, 0%, 100%);
    width:64rem;
    gap:3rem;
    align-items:center;
    padding:2rem 2rem 2rem 3rem;
    border-radius: 1rem;
}

.right{
    background-color:hsl(183, 100%, 15%);
    width:38rem;
    padding:2.5rem;
    border-radius:1rem;
    display:flex;
    flex-direction:column;
    gap:1.5rem;
}

.left{
    margin-top:-2rem;
}

.name{
    margin-top:2.5rem;
    
}

.percent{
    display:grid;
    grid-template-columns: 7.2rem 7.2rem 7.2rem;
    grid-template-rows:3rem 3rem;
    gap:1rem;
    margin-bottom:2.7rem;
      
}

.number{
    text-align:center;
    font-weight:700;
    font-size:24px;
    border-radius:0.4rem;
    background-color:hsl(183, 100%, 15%);
    border:none;
    color:hsl(0, 0%, 100%);
    font-family:"Space Mono";
}

.number:hover{
    cursor:pointer;
    background-color:hsl(168, 67%, 45%);
}

.number:focus{
    background-color:hsl(172, 67%, 45%);
    color:hsl(183, 100%, 15%);
}

#custom{
    text-align:center;
    font-weight:700;
    font-size:24px;
    border-radius:0.4rem;
    background-color:hsl(189, 41%, 97%);
    border:none;
    text-align:right;
    padding:0.5rem;
    font-family:"Space Mono";
    padding-right:1rem;
    color:hsl(183, 100%, 15%);
}

#custom:focus, #custom:hover{
    
    outline: 2px solid hsl(172, 67%, 45%);
    border-radius:0.2rem;
    color:hsl(183, 100%, 15%);
    cursor:pointer;
}


.zero{
   float:right;
   color:red;
   display:none;
    
}

.display{
    display:flex;
    
    justify-content:space-between;
    gap:6rem;
    
    
}

.column{
    display:flex;
    flex-direction:column;
    
}

.amount{
    color:hsl(0, 0%, 100%);
    font-size:16px;
}

.person{
    color:hsl(186, 14%, 43%);
    font-size:16px;
    margin-top:-1rem;
    
}

.mark{
    font-size:3rem;
    font-weight:700;
    color:hsl(172, 67%, 45%);
    
}

#tip, #total{
    font-size:3rem;
    font-weight:700;
    color:hsl(172, 67%, 45%);
    margin-left:-0.5rem;
    font-family:"Space Mono";
    text-align:right;
    
}


.reset{
    margin-top:6rem;
    padding:0.6rem;
    font-size:24px;
    text-transform: uppercase;
    color:hsl(183, 100%, 15%);
    font-weight:700;
    border-radius:0.5rem;
    border:none;
    background-color: hsl(172, 67%, 45%);
    font-family:"Space Mono";
    text-align:center;
}

.reset:hover{
    background:hsl(172, 67%, 45%);
    cursor:pointer;

}
