 /*@font-face{
   font-family:League Spartan;
   src:url(font/LeagueSpartan-VariableFont_wght.ttf);
 }*/
 
 main{
   display:flex;
   flex-direction:column;
   gap:1rem;
   background-color:hsl(180, 52%, 96%);
   font-size:15px;
   font-family:"League Spartan";
  
 }

 header{

      background-color:hsl(180, 8%, 52%);
 }
  
 
 .job{
    width:80%;
    margin:0 auto;
    padding:2rem;
    display:flex;
    gap:2rem;
    background-color:#fff;
    
 }

 .new, .feature{
    background-color:hsl(180, 29%, 50%);;
    text-transform:uppercase;
    color:#fff;
    padding:5px 10px;
    margin-left:1rem;
    border-radius:15px;
    font-weight:700;

 }

 .feature{
   background-color:hsl(180, 14%, 20%);
 }

 .position{
   font-weight:bold;
   font-size:20px;
 }

 .description{
    display:flex;
    gap:2rem;
 }

 .company{
   color:hsl(180, 29%, 50%);
   font-weight:bold;
  
   
 }

 .dot{
   height:4px;
   width:4px;
   border-radius:50%;
   background-color:hsl(180, 8%, 52%);
   display:inline-block;
   margin:0 1rem;
   
 }

 .gray{
   color:hsl(180, 8%, 52%);
   font-weight:500;
   font-size:15px;
 }

 .option{
  margin-left:1rem;
 }