 /*@font-face{
   font-family:League Spartan;
   src:url(font/LeagueSpartan-VariableFont_wght.ttf);
 }*/

 html, body{
  background-color:hsl(180, 52%, 96%);
  font-family:"League Spartan";

  margin:0 auto;
 }
 
 main{
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   gap:1rem;
   background-color:hsl(180, 52%, 96%);
   font-size:15px;
   font-family:"League Spartan";
  
 }

 header{

      background-color:hsl(180, 8%, 52%);
      margin-bottom:4rem;
 }
  
 
 .job{
    width:80%;
   
    padding:1.5rem 2rem;
    display:flex;
    align-items:center;
    gap:1rem;
    background-color:#fff;
    box-shadow: 0.5rem 0.5rem 0.5rem 0 #ddd;
    border-radius:0.2rem;
    margin-bottom:0.5rem;
    
 }

 .new, .featured{
    background-color:hsl(180, 29%, 50%);;
    text-transform:uppercase;
    color:#fff;
    padding:5px 10px;
    margin-left:1rem;
    border-radius:15px;
    font-weight:700;

 }

 .featured{
   background-color:hsl(180, 14%, 20%);
 }

 .position{
   font-weight:bold;
   font-size:15px;
 
 }

 .description{
    display:flex;
    gap:2rem;
 }

 .company{
   color:hsl(180, 29%, 50%);
   font-weight:bold;
 
  
   
 }

 .dot{
   height:4px;
   width:4px;
   border-radius:50%;
   background-color:hsl(180, 8%, 52%);
   display:inline-block;
   margin:0 1rem;
   
 }

 .gray{
   color:hsl(180, 8%, 52%);
   font-weight:500;
   font-size:15px;
 }

 .table{
    position:absolute;
    right: 9rem;
    
 }

 .option{
     margin-left:1rem;
     margin-right:1rem;
     background-color: hsl(180, 31%, 95%);
     padding:0.5rem 0.5rem;
     border-radius:0.2rem;
     font-weight:700;
     color:hsl(180, 29%, 50%);
   
 }

 .modal{
<<<<<<< HEAD
    width:80%;
    background-color:#fff;
    position:absolute;
    top:7.5rem;
    padding:2rem;
    border-radius:0.4rem;
    

=======
    width: 82%;
    background-color:#fff;
    position:absolute;
    top:7.5rem;
    padding:0;
    margin:0;
    padding:1rem;
    border-radius:0.4rem;
    display:none;
  
>>>>>>> test
 }

 .clear{
   float:right;
   color:hsl(180, 29%, 50%);
   font-weight:700;
<<<<<<< HEAD
=======
   margin-top:1rem;
   margin-right:2rem;
 }

 .hidden{
    display:none;
>>>>>>> test
 }

 .cancel{
   padding:0.5rem;
   background-color:hsl(180, 29%, 50%);
   margin-left:1rem;
   border-top-right-radius:0.3rem;
   border-bottom-right-radius:0.3rem;
   color:#fff;
   
   
 }

 .modalOption{
  margin-left:1rem; 
  background-color: hsl(180, 31%, 95%);
  padding:0.5rem 0.5rem;
  border-radius:0.2rem;
  font-weight:700;
  color:hsl(180, 29%, 50%);
  margin-right:0;
  padding-right:0;
   
<<<<<<< HEAD
=======
 }

 .modal-content{
  
   padding:1rem;
   
>>>>>>> test
 }