
html, body, main{
    background-color:hsl(204, 43%, 93%);
    /*height:100vh;*/
    font-family:"Karla";
}

*{
    box-sizing:border-box;
}

main{
    margin: 10% 5%;
}


section{
    
    padding:1.2rem 2.5rem;
    box-shadow: 0px 1px -2px #424040;
    
    
}



.join{
    background-color:#fff;
    color:hsl(218, 22%, 67%);
    line-height:1.8rem;
    border-top-left-radius:0.5rem;
    border-top-right-radius:0.5rem;
    
    
}

mark{
    color:hsl(218, 22%, 67%);
    font-weight:700;
}

#community{
    color:hsl(179, 62%, 43%);
   
}

.subscription{
    background-color:hsl(179, 62%, 43%);
    font-family:inherit;
    color:#fff;
    
    font-family:inherit;
    

    
}



#per{
    color:#fff;
    opacity:0.7;
    font-weight:400;
}

#dollar{
    font-size:30px;
    font-weight:700;
}

button{
    width:100%;
    padding:0.8rem;
    background-color:hsl(71, 73%, 54%);
    border:none;
    border-radius:0.2rem;
    margin-bottom:1rem;
    margin-top:1rem;
    color:#fff;
    font-family:inherit;
    font-weight:700;
    font-size:1rem;
}

.why{
    background-color:hsl(175, 49%, 52%);
    color:hsl(204, 43%, 93%);
    line-height:1.5rem;
    border-bottom-left-radius:0.5rem;
    border-bottom-right-radius:0.5rem;
    
      
}

@media only screen and (min-width:600px) {

    main{
        display:grid;
        grid-template-columns:21rem 21rem;
        grid-template-rows:14rem 18rem;
        justify-content:center;
        justify-self:center;
        margin:20%;
        
    }
    .join{
        grid-column:1/3;
        grid-row:1/2;
       
        border-top-left-radius:0.5rem;
        border-top-right-radius:0.5rem;
    }

    .subscription{
        grid-column:1/2;
        grid-row:2/3;
        border-bottom-left-radius:0.5rem;
        
    }
     .why{
        grid-column:2/3;
        grid-row:2/3;
        border-bottom-right-radius:0.5rem;
        border-bottom-left-radius:0;
    }
}

