
@font-face{
    font-family: "Ubuntu";
    src:
        url('./assets/fonts/Ubuntu-Bold.ttf'),
        url('./assets/fonts/Ubuntu-Medium.ttf');
    font-weight:700;
    font-style:normal;
}

@font-face{
    font-family: "Ubuntu";
    src:
        url('./assets/fonts/Ubuntu-Medium.ttf');
    font-weight:500;
    font-style:normal;
}

@font-face{
    font-family: "Ubuntu";
    src:url('./assets/fonts/Ubuntu-Regular.ttf');
    font-weight:400;
    font-style:normal; 
}

html, body{
    height:100%;
}

body{
    background-color: #fff;
    padding:2rem;
    display:flex;
    align-items:center;
    justify-content:center;
    -webkit-align-items:center;
    font-family:"Ubuntu";
    font-weight:600px;
    background-color:hsl(217, 100%, 97%);
    
    
}

*{
    padding:0;
    margin:0;
}

.main{
    display:flex;
    gap:6rem;
    align-items:center;
    justify-content:center;
    background-color:#fff;
    padding:0.5rem;
    height:auto;
    min-height:568px;
    max-height:100vh;
    border-radius:0.8rem;
       
}

.sidebar{
    background-image:url("./assets/images/bg-sidebar-desktop.svg");
    background-repeat:no-repeat;
    color:white;
    width:274px;
    height:568px;
    padding:0.5rem;
    background-position:center;

}

.item{

    /*padding:20px;*/
    display:flex;
    gap:1rem;
    margin:2.5rem 2rem;

}

.number{
    border-radius:50%;
    width: 10px;
    line-height:10px;
    border: 2px solid #fff;
    text-align:center;
    padding:10px;
    
 
    
}

.step{
    text-transform: uppercase;
    font-size:14px;
    opacity:0.6;
    font-weight:400;
}

.content{
    text-transform: uppercase;
    font-size:15px;
    font-weight:500;
    color:#fff;
}

/* to create toggle switch*/

.toggleSwitch{
    display:flex;
    align-items:center;
    gap:0.5rem;
    text-transform: capitalize;
}

.inputCheck{
    height:0;
    width:0;
    visibility: hidden;
}

.labelInput{
    cursor:pointer;
    text-indent:-9999px;
    width:48px;
    height:24px;
    background:hsl(213, 96%, 18%);
    display:block;
    border-radius:24px;
    position:relative;

}

.left{
    color:hsl(213, 96%, 18%);
    font-weight:500;   
}

.right{
    color:hsl(231, 11%, 63%);
    font-weight:500;   
}

.inputCheck:checked ~ .right{
    color:hsl(213, 96%, 18%);
}

.inputCheck:checked ~ .left{
    color:hsl(231, 11%, 63%);
}


.labelInput::after{
    content:"";
    position:absolute;
    top:3px;
    left:4px;
    width:18px;
    height:18px;
    background:#fff;
    border-radius:18px;
    transition:0.3s;
}

.inputCheck:checked + .labelInput{
    background:hsl(213, 96%, 18%);

}



.inputCheck:checked + .labelInput::after{
    left:calc(100% - 4px);
    transform: translateX(-100%);
}

.labelInput:active::after{
    width:130px;
}



/* to create toggle switch*/

/*personal file*/
.personal{
    font-family:"Ubuntu";
    font-size:36px;
    font-weight:bold;
    margin-bottom:0.8rem;
}

.sub{
    font-size:16px;
    color:hsl(231, 11%, 63%);
    font-weight:400;
    
}

.formContact{
    font-family:inherit;
    font-size:16px;
    margin-top:1.6rem;
}

.label{ 
    margin-bottom:1rem;
}


.email{
    height:2rem;
    width:26rem;
    border:1px solid hsl(229, 24%, 87%);
    border-radius:0.5rem;
    padding:0.4rem 1rem;
    margin-top:0.5rem;
    color:hsl(213, 96%, 18%);
    font-family:inherit;
    font-weight:700;
    font-size:16px;
   
}

.email:active{
    outline:1px solid hsl(243, 100%, 62%);
    font-weight:700;
    font-size:16px;
    color:hsl(213, 96%, 18%);
}

.email:hover{
    cursor:pointer;
}

.info{
    margin-right:6rem;
}

.nameContent{
    margin-bottom:1.5rem;
}

.next{
    margin-top:4rem;
    float:right;
    color:#fff;
    font-family:inherit;
    padding:0.8rem 1.2rem;
    background:hsl(213, 96%, 18%);
    font-weight:400;
    font-size:16px;
    border-radius:0.5rem;
}

.next:hover{
    cursor:pointer;
}

/*personal file*/


/*selectPlan */
.h3{
    font-family:"Ubuntu";
    font-size:36px;
    font-weight:bold;
    margin-bottom:0.8rem;
}

.plans{
    display:flex;
    gap:1rem;
    margin-top:3rem;
}

.plans:hover{
    cursor:pointer;
}

.plan{
    border:1px solid hsl(229, 24%, 87%);
    width:6.8rem;
    padding:1rem;
    border-radius:0.5rem;
}

.planName{
    font-family:inherit;
    font-size:16px;
    font-weight:700;
    color:hsl(213, 96%, 18%);
    margin-top:2.5rem;
}

.price{
    color:hsl(231, 11%, 63%);
    margin-top:0.5rem;
}

.toggle{
    padding:1rem;
    margin:2rem auto;
    background-color:hsl(231, 100%, 99%);
    display:flex;
    align-items:center;
    justify-content:center;

}

.buttons{
    display:flex;
    justify-content:space-between;
    margin-top:7rem;
}

.goBack{
    font-family:inherit;
    padding:0.8rem 1.2rem;
    font-weight:400;
    font-size:16px;
}

.goBack{
    cursor:pointer;
    font-weight:500;
    color: hsl(213, 96%, 18%);
}

.nextButton{
   
    color:#fff;
    font-family:inherit;
    padding:0.8rem 1.2rem;
    background:hsl(213, 96%, 18%);
    font-weight:400;
    font-size:16px;
    border-radius:0.5rem;
}

.nextButton:hover{
    cursor:pointer;
}


/*selectPlan */

/*add-ons*/
.type{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
    border:1px solid hsl(229, 24%, 87%);
    gap:1rem;
    padding:1rem 1.5rem;
    border-radius:1rem;
    width:25rem;
}

.leftSide{
    display:flex;
    gap:2rem;
    justify-content:center;
    align-items:center;
}

.formPickOn{
    margin-top:2.5rem;
    display:flex;
    flex-direction:column;
    gap:1rem;
    align-items: center;
    justify-content:center;
}

.checkbox{
    width:20px;
    height:20px;
    border-radius:4px;
}

.onlineContent { 

    font-family:inherit;
    font-size:16px;
    font-weight:700;
    color:hsl(213, 96%, 18%);
    padding:4px;

}


.price{
    float:right;
}

/*add-ons*/