
@font-face{
    font-family: "Ubuntu";
    src:url('./assets/fonts/Ubuntu-Regular.ttf');
    font-weight:700;
    font-style:normal;
}

body{
    background-color: #fff;
    padding:2rem;
    /*display:flex;
    align-items:center;
    justify-content:center;*/
    font-family:"Ubuntu";
    font-weight:600px;
}

*{
    padding:0;
    margin:0;
}

.sidebar{
    background-image:url("./assets/images/bg-sidebar-desktop.svg");
    background-repeat:no-repeat;
    color:white;
    height:100vh;

}

.item{

    padding:30px;
    display:flex;
    gap:1rem;

}

.number{
    border-radius:50%;
    width: 10px;
    line-height:10px;
    border: 2px solid #fff;
    text-align:center;
    padding:10px;
    
 
    
}

.step{
    text-transform: uppercase;
    font-size:14px;
    opacity:0.6;
}

.content{
    text-transform: uppercase;
    font-size:15px;
}

/* to create toggle switch*/

.toggleSwitch{
    display:flex;
    align-items:center;
    gap:0.5rem;
    text-transform: capitalize;
    margin-top:1.5rem;
}

.inputCheck{
    height:0;
    width:0;
    visibility: hidden;
}

.labelInput{
    cursor:pointer;
    text-indent:-9999px;
    width:48px;
    height:24px;
    background:hsl(213, 96%, 18%);
    display:block;
    border-radius:24px;
    position:relative;

}

.left{
    color:hsl(231, 11%, 63%);
}

.labelInput::after{
    content:"";
    position:absolute;
    top:3px;
    left:4px;
    width:18px;
    height:18px;
    background:#fff;
    border-radius:18px;
    transition:0.3s;
}

.inputCheck:checked + .labelInput{
    background:hsl(213, 96%, 18%);
}

.inputCheck:checked + .labelInput::after{
    left:calc(100% - 4px);
    transform: translateX(-100%);
}

.labelInput:active::after{
    width:130px;
}










/* to create toggle switch*/