
@font-face{
    font-family: "Ubuntu";
    src:url('./assets/fonts/Ubuntu-Regular.ttf');
    font-weight:500;
    font-style:normal;
}

body{
    background-color: #fff;
    padding:2rem;
    /*display:flex;
    align-items:center;
    justify-content:center;*/
    font-family:"Ubuntu";
}

*{
    padding:0;
    margin:0;
}

.sidebar{
    background-image:url("./assets/images/bg-sidebar-desktop.svg");
    background-repeat:no-repeat;
    color:white;
    height:100vh;

}

.item{

    padding:30px;
    display:flex;
    gap:1rem;

}

.number{
    border-radius:50%;
    width: 10px;
    line-height:10px;
    border: 2px solid #fff;
    text-align:center;
    padding:10px;
    
 
    
}

.step{
    text-transform: uppercase;
}

.content{
    text-transform: uppercase;
}